certifi==2024.6.2
charset-normalizer==3.3.2
cloudpickle==3.0.0
contourpy==1.2.1
cycler==0.12.1
Farama-Notifications==0.0.4
fonttools==4.53.0
gymnasium==0.29.1
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
kiwisolver==1.4.5
matplotlib==3.9.0
numpy==1.26.4
packaging==24.0
pettingzoo==1.24.3
pillow==10.3.0
pygame==2.5.2
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
-e git+https://github.com/notjedi/pystk-gym@282e2d9a02e6ed968a616b41c50c4be69d0e6fe9#egg=pystk_gym
PySuperTuxKart==1.1.2
PySuperTuxKartData==1.0.0
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.16.0
typing_extensions==4.12.1
urllib3==2.2.1
zipp==3.19.2
